<div class="row">
    <div class="col-md-3 col-xs-4 col-sm-4">
        <img [src]="product.images[0].full" class="img-responsive" />
    </div>
    <div class="col-md-6 col-xs-8 col-sm-8">
        <span class="badge">{{idx+1}}</span>
        <h4>{{product.name | uppercase}} <small [innerText]="product.makeDate|date:'yyyy'"></small></h4>
        <h5>{{product.price | priceDiscount:product.discount | currency:'INR':true}}</h5>
        <button *ngIf="product.canBuy" class="btn btn-primary">Buy</button>

        <hr/>

        <section>
            <ul class="nav nav-tabs">
                <li [class.active]="isTabSelected(1)"><a href (click)="changeTab(1,$event)">Description</a></li>
                <li [class.active]="isTabSelected(2)"><a href (click)="changeTab(2,$event)">Specification</a></li>
                <li [class.active]="isTabSelected(3)"><a href (click)="changeTab(3,$event)">Reviews</a></li>
            </ul>
            <div class="panel" *ngIf="isTabSelected(1)">
                <p>{{product.description}}</p>
            </div>
            <div class="panel" *ngIf="isTabSelected(2)">
                <p>Not Yet</p>
            </div>
            <div class="panel" *ngIf="isTabSelected(3)">
                <div class="alert alert-danger" *ngFor="let review of product.reviews">
                    <span class="badge">{{review.stars}}</span> &mdash; {{review.author}}
                    <hr/>
                    <p>{{review.body}}</p>
                </div>    
            </div>
        </section>

        <!--<pre>{{product|json}}</pre>-->

    </div>
</div>