<form #customerForm="ngForm">
  <fieldset>
    <div class="form-group" [ngClass]="{'has-error': firstNameVar.touched && !firstNameVar.valid }">
      <label for="firstNameId">First Name</label>
      <input id="firstNameId" 
             type="text" 
             placeholder="First Name (required)" 
             [(ngModel)]="customerModel.firstName"
             name="firstName"
             required minlength="3" 
             class="form-control" 
             #firstNameVar="ngModel"
             />
        <span class="help-block" *ngIf="firstNameVar.touched && firstNameVar.errors"> 
          Please enter your first name.
        </span>   
    </div>
    <div class="form-group" [ngClass]="{'has-error': lastNameVar.touched && !lastNameVar.valid }">
      <label for="lastNameId">First Name</label>
      <input id="lastNameId" 
             type="text" 
             placeholder="Last Name (required)" 
             [(ngModel)]="customerModel.lastName"
             name="lastName"
             required minlength="3" 
             class="form-control" 
             #lastNameVar="ngModel"
             />
        <span class="help-block" *ngIf="lastNameVar.touched && lastNameVar.errors"> 
          Please enter your last name.
        </span>   
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
  </fieldset>
</form>

<pre>
  {{customerForm.value|json}}
</pre>

